

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1 {
    color: brown;
    text-align: center;
    font-family: "Lexend Deca", cursive;
}

p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    font-family:cursive;
}

img {
    width: 150px;
    margin: 20px auto;
    width: 150px;
    height: 150px;
    display:block;
    border-radius: 50%;
}

body {
    background-color: rgb(255, 252, 240);
}